* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
}
.header {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}
.resume {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
}
.resume > div {
    padding: 0 1rem 1.5rem;
}
.resume > div .title {
    position: relative;
    margin: 0;
    padding: 0 1rem;
    line-height: 2.5rem;
    border-bottom: 2px solid #5b86e5;
}
.resume > div .title::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #f86058;
    right: 6%;
    bottom: 6%;
}
.resume > div .title::before {
    content: "";
    position: absolute;
    width: 14%;
    height: 1px;
    background-color: #36d1dc;
    right: 4%;
    bottom: 18%;
}
.content {
    display: flex;
    max-width: 95%;
    margin: auto;
}
@media screen and (max-width: 450px) {
    .content {
        flex-direction: column-reverse;
    }
}
.pic {
    padding: 1.5rem 0 1rem;
    flex: 1 1;
}
.pic img {
    display: block;
    width: 200px;
    margin: auto;
}
.items {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: left;
    align-items: center;
}
@media screen and (max-width: 750px) {
    .info-main .items {
        grid-template-columns: 1fr;
    }
}
.info-item {
    border-bottom: 1px solid #36d1dc;
    position: relative;
    padding: 0.3rem 0.1rem;
    height: 1.6rem;
    line-height: 1.6rem;
    white-space: nowrap;
}
.info-item::before {
    content: "";
    position: absolute;
    height: 1px;
    transition: all 0.2s;
    left: -0.4em;
    bottom: -3px;
    width: 2em;
    background-color: #007991;
}
.info-item::after {
    content: "";
    position: absolute;
    height: 1px;
    transition: all 0.2s;
    right: -0.3em;
    bottom: 1px;
    width: 1.3em;
    background-color: #36d1dc;
}
.info-item .item-key {
    font-weight: 600;
}
.footer {
    text-align: center;
    padding-bottom: 1rem;
}
.footer h2 {
    margin-bottom: 3rem;
}
.footer a {
    color: #c0c8da;
    padding: 0 1rem;
    border-right: 1px solid #c0c8da;
}
.footer a:last-child {
    border: none;
}
